.book_details{
	width: 50%;
	display: inline-block;
	vertical-align: top; 
	margin-left: 32px;
}

.book_details span[class=title]{
	width: 60px;
	font-weight: bold; 
	color: gray
}
.book_details span[class=detail]{
	margin-left: 40px; 
	font-weight: bold; 
	color: #2874f0
}

.book_details table td{
	padding: 8px;

}



